extends ../base/layout

block variables
  - const title = "Artemis"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""

block main
  main
    section.text-section.page-intro
      .container
        .page-intro__img.text-section__img
          +picture("content", "intro-picture", "png", 972, 675, "intro picture")
        .page-intro__text-content.text-section__text-content
          h1.h1 Creating Positive Impact with Artemis
          p We all live inside an interconnected network in need of positive, socially connected changes that achieve measurable results. Artemis was founded to create these positive connections, and achieve these results with our impact-driven focus!
          .page-intro__buttons
            +button({type: "button", text: "Download App", label: "Download App"}).button--primary
            +button({type: "button", text: "Get in touch", label: "Get in touch"}).button--secondary
    section.features(id="article")
      h2.visually-hidden Features
      .container
        .features__bg
          +icon("features-bg", 1140, 304)
        ul.features__list
          li.features__item
            span.features__term Projects
            span.features__def 14
          li.features__item
            span.features__term Money donated
            span.features__def $150k
          li.features__item
            span.features__term Beneficiaries supported
            span.features__def 3000+
        .features__img
          +img("content", "features-picture", "svg", 406, 355, "features picture")
    section.slogan
      .container
        h2.h2 We are here to help you!
    section.text-section.funding(id="funding")
      .container
        .funding__text-content.text-section__text-content
          h2.h2 Outcome-based Funding
          p For our individual or institutional donors and NGO receiver teams, our Artemis services can provide the focused precision in locating, connecting, and enabling the most specific projects for your funds, along with the most transparent and measurable, data-driven results for you & your stakeholders. We cater to projects in all stages: Pre-funding, Already funded.
          a(href="#contact" aria-label="cottact us" data-scroll).button.button--primary Contact Us
        .funding__img.text-section__img
          +img("content", "funding-picture", "svg", 702, 502, "funding picture")
    section.text-section.services(id="services")
      .container
        .services__img.text-section__img
          +img("content", "services-picture", "svg", 700, 448, "services picture")
        .services__text-content.text-section__text-content
          h2.h2 Advisory Services
          p The need for having a CSR program, which creates value is an absolute necessity in the corporate & private sector spheres. Helping you define projects aligned with your core business, providing a more purpose-driven momentum, achieve the targeted results required to create a sustainable impact supported with transparent, data-driven reports is always the Artemis priority.
          a(href="#contact" aria-label="cottact us" data-scroll).button.button--primary Contact Us

    section.news(id="news")
      .container
        h2.h2 What’s New?
        .slider(data-slider)
          .slider-nav
            button.slider-nav__btn.slider-nav__btn--prev.button.button--round.swiper-button-prev
              +icon("arrow-dropdown", 17, 10)
            button.slider-nav__btn.slider-nav__btn--next.button.button--round.swiper-button-next
              +icon("arrow-dropdown", 17, 10)
          .slider__container.swiper.mySwiper
            ul.slider__slides.swiper-wrapper
              each card in mediaCardsData
                li.slider__slide.swiper-slide
                  +media-card(card)
    section.feedback(id="contact")
      .container
        h2.h2 Start your Social Impact Journey Today
        .feedback__wrapper
          .feedback__bg
            +icon("contacts-bg", 358, 510)
          .feedback__contacts
            .feedback__contacts-block
              h3.h3 General Inquiries
              .feedback__contacts-list
                a(href="tel:+6285894442405").feedback__link
                  .feedback__contacts__icon
                    +icon("icon-phone", 11, 11)
                  span +62&#8209;858&#8209;9444&#8209;2405
                a(href="mailto:contact@artemis.im").feedback__link
                  .feedback__contacts__icon
                    +icon("icon-mail", 12, 9)
                  span contact@artemis.im
                a(href="mailto:simon@artemis.im").feedback__link.feedback__link--noicon
                  span simon@artemis.im
            .feedback__contacts-block
              h3.h3 Media & Press
              .feedback__contacts-list
                a(href="tel:+6281283374974").feedback__link.feedback__link
                  .feedback__contacts__icon
                    +icon("icon-phone", 11, 11)
                  span +62&#8209;812&#8209;8337&#8209;4974
                a(href="mailto:contact@artemis.im ").feedback__link
                  .feedback__contacts__icon
                    +icon("icon-mail", 12, 9)
                  span contact@artemis.im
          .feedback__form
            h3.h3.h3--color Get in touch
            form(action="#" method="post" data-validate)
              .feedback__input-box
                input(type="text", name="name", id="feedback-name", placeholder="Name")
                label(for="feedback-name")
              .feedback__input-box
                input(type="email", name="email", id="feedback-email", placeholder="Email")
                label(for="feedback-name")
              .feedback__textarea-box
                textarea(name="text" id="feedback-text" rows="1", placeholder="Message")
                label(for="feedback-text")
              +button({type: "submit", text: "Submit", label: "Form submit"}).button--primary

