-
  var mediaCardsData = [
    {
      img: {
        path: "slides",
        name: "video-1",
        format: "jpg",
        width: 310,
        height: 273,
        alt: "Merdeka Belajar & Sekolah Alternatif - Artemis Impact Podcast #5"
      },
      title: "Merdeka Belajar & Sekolah Alternatif - Artemis Impact Podcast #5",
    },
    {
      img: {
        path: "slides",
        name: "video-2",
        format: "jpg",
        width: 310,
        height: 273,
        alt: "We Are Watching You - Artemis Impact Podcast #4"
      },
      title: "We Are Watching You - Artemis Impact Podcast #4",
    },
    {
      img: {
        path: "slides",
        name: "video-3",
        format: "jpg",
        width: 310,
        height: 273,
        alt: "NGO dan Komunitas Lingkungan di Indonesia - Artemis Impact Podcast #3"
      },
      title: "NGO dan Komunitas Lingkungan&nbsp;di&nbsp;Indonesia - Artemis Impact Podcast #3",
    },
  ]
