-
  var siteMapData = [
    {
      title: "Company",
      links: [
        {
          href: "#",
          text: "About Us"
        },
        {
          href: "#",
          text: "Contact Us"
        },
        {
          href: "#",
          text: "Blog"
        },
        {
          href: "#",
          text: "Vlog"
        },
        {
          href: "#",
          text: "Podcast"
        },
        {
          href: "#",
          text: "Case studies"
        }
      ]
    },
    {
      title: "Services",
      links: [
        {
          href: "#",
          text: "Outcome-based funding"
        },
        {
          href: "#",
          text: "Advisory services "
        },
        {
          href: "#",
          text: "Outcome measurement application"
        }
      ]
    },
    {
      title: "Contact",
      links: [
        {
          mods: "footer__link--contact",
          href: "tel:+6285894442405",
          text: "+62&#8209;858&#8209;9444&#8209;2405",
          icon: {
            name: "icon-phone",
            width: 11,
            height: 11
          }
        },
        {
          mods: "footer__link--contact",
          href: "mailto:contact@artemis.im ",
          text: "contact@artemis.im ",
          icon: {
            name: "icon-mail",
            width: 12,
            height: 9
          }
        },
      ]
    },
    {
      title: "Follow Us",
      mods: "footer__site-map-block--socials",
      links: [
        {
          mods: "footer__link--social",
          href: "#",
          text: "youtube",
          isOutside: true,
          icon: {
            name: "youtube",
            width: 21,
            height: 20
          }
        },
        {
          mods: "footer__link--social",
          href: "#",
          text: "linkedin",
          isOutside: true,
          icon: {
            name: "linkedin",
            width: 21,
            height: 20
          }
        },
        {
          mods: "footer__link--social",
          href: "#",
          text: "facebook",
          isOutside: true,
          icon: {
            name: "facebook",
            width: 21,
            height: 21
          }
        },
        {
          mods: "footer__link--social",
          href: "#",
          text: "instagram",
          isOutside: true,
          icon: {
            name: "instagram",
            width: 21,
            height: 20
          }
        },
      ]
    }
  ]
